@import "../../scss/mixins";

.student {
	flex: 1 1 auto;

	&__content {
		display: flex;
		gap: 20px;
		height: 100%;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__loader {
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		span {
			display: block;
			width: 50px;
			height: 50px;
			border: 5px solid var(--900);
			border-left-color: transparent;
			border-radius: 50%;
			animation: loading 1s linear infinite;
		}

		@keyframes loading {
			to {
				rotate: 360deg;
			}
		}
	}

	&-notfound {
		height: inherit;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 24px;

		.button {
			svg {
				width: 14px;
				rotate: 180deg;
			}
		}
	}

	&__main {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&-info {
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0px 10px 30px 0px rgba(86, 110, 118, 0.15);

		&__bg {
			padding: 24px 32px 16px;
			height: 140px;
			position: relative;
			display: flex;
			gap: 20px;
			align-items: flex-end;

			@media (max-width: 996px) {
				height: 100px;
				padding: 20px 32px 8px;
				gap: 12px;
			}

			@media (max-width: 768px) {
				padding: 20px 20px 8px;
			}
		}

		&__bio {
			display: flex;
			flex-direction: column;
		}

		&__username {
			font-size: 16px;
			font-family: 'Fira Sans Condensed', sans-serif;
			color: var(--500);

			@media (max-width: 996px) {
				font-size: 14px;
			}
		}

		&__name {
			color: var(--900);
			font-size: 28px;
			font-weight: 700;

			@media (max-width: 996px) {
				font-size: 20px;
			}
		}

		&__edit {
			position: absolute;
			top: 24px;
			right: 32px;
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 8px;

			@media (max-width: 996px) {
				font-size: 12px;
			}

			@media (max-width: 768px) {
				top: 12px;
				right: 20px;
			}

			svg {
				width: 14px;

				path {
					fill: var(--500);
					transition: 350ms;
				}
			}

			span {
				display: inline-block;
				padding-top: 3px;
				color: var(--500);
				transition: 350ms;
			}

			&:hover {
				svg path {
					fill: var(--900);
				}

				span {
					color: var(--900);
				}
			}

			&-buttons {
				position: absolute;
				top: 24px;
				right: 32px;
				display: flex;
				gap: 16px;
			}
		}

		&-avatar {
			width: 160px;
			height: 160px;
			border-radius: 50%;
			border: 2px solid var(--0);
			margin: 0 0 -76px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--900);
			font-size: 56px;
			font-weight: 700;
			box-shadow: 0px 5px 30px 0px rgba(153, 163, 171, 0.20);

			@media (max-width: 996px) {
				width: 80px;
				height: 80px;
				font-size: 32px;
				margin: 0 0 -24px 0;
			}
		}

		&__main {
			background-color: var(--0);
			padding: 16px 32px 28px;

			@media (max-width: 996px) {
				padding: 24px 32px;
			}
		}

		&-props {
			display: flex;
			gap: 16px;

			padding: 0 0 0 180px;

			@media (max-width: 996px) {
				padding: 0;
			}

			@media (max-width: 768px) {
				flex-wrap: wrap;
			}

			&__item {
				display: flex;
				flex-direction: column;
				gap: 4px;
			}

			&__label {
				color: var(--300);
			}

			&__value {
				font-weight: 600;
				color: var(--900);
			}
		}

		&__note {
			margin: 20px 0 0 0;
		}
	}

	&-history {
		border-radius: 10px;
		box-shadow: 0px 10px 30px 0px rgba(86, 110, 118, 0.15);
		overflow: hidden;

		flex: 0 0 auto;

		&__header {
			background-color: #EAF3F9;
			padding: 16px 24px;
			border-bottom: 2px solid var(--primary-darker);

			@media (max-width: 996px) {
				padding: 12px 16px;
			}
		}

		&__body {
			padding: 24px;

			@media (max-width: 996px) {
				padding: 12px;
			}
		}

		&__track {
			display: flex;
			flex-direction: column;
			gap: 4px;
			padding: 0 10px 0 0;
			height: 700px;
			overflow: auto;

			@media (max-width: 768px) {
				height: auto;
				max-height: 300px;
			}

			&::-webkit-scrollbar {
				width: 6px;
				background-color: var(--100);
				border-radius: 3px;

				&-thumb {
					background-color: var(--primary-main);
					border-radius: 3px;

					&:hover {
						background-color: var(--primary-light);
					}

					&:active {
						background-color: var(--primary-dark);
					}
				}
			}
		}

		&-item {
			width: 100%;
			padding: 16px 20px;
			border-radius: 5px;
			border: 1px solid var(--primary-dark);
			background-color: var(--0);
			cursor: pointer;
			transition: 350ms;

			@media (max-width: 996px) {
				padding: 12px;
			}

			&:hover {
				scale: 0.95;
				opacity: 0.75;
			}

			&__month {
				@media (max-width: 1280px) {
					display: none;
				}

				&-short {
					display: none;

					@media (max-width: 1280px) {
						display: inline;
					}

				}
			}

			&__weekday {
				@media (max-width: 1280px) {
					display: none;
				}

				&-short {
					display: none;

					@media (max-width: 1280px) {
						display: inline;
					}
				}
			}
		}
	}
}

.student-lp {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 10px 30px 0px rgba(86, 110, 118, 0.15);

	&-empty {
		display: flex;
		flex-direction: column;
		gap: 12px;
		align-items: center;

		.description {
			font-size: 16px;
			max-width: 320px;
			text-align: center;
		}

		.button {
			align-self: center;
		}
	}

	&__header {
		background: #F0F6FA;
		border-bottom: 2px solid var(--primary-dark);
		padding: 24px 32px;
		display: flex;
		align-items: center;
		gap: 24px;

		@media (max-width: 768px) {
			padding: 12px 16px;
		}
	}

	&-edit {
		display: flex;
		align-items: center;
		gap: 12px;

		&__button {
			display: flex;
			align-items: center;
			gap: 4px;
			cursor: pointer;

			svg {
				width: 14px;

				path {
					fill: var(--300);
					transition: 350ms;
				}
			}

			span {
				color: var(--300);
				display: inline-block;
				padding-top: 2px;
				transition: 350ms;
			}

			&:hover {
				svg path {
					fill: var(--900);
				}

				span {
					color: var(--900);
				}
			}
		}

		&__save {
			color: var(--primary-bright);
		}

		&__save,
		&__cancel {
			transition: 350ms;
			cursor: pointer;

			&:hover {
				scale: 0.95;
				opacity: 0.75;
			}
		}

		&__cancel {
			color: var(--500);
		}
	}

	&__body {
		padding: 24px 32px;
		display: flex;
		flex-direction: column;
		gap: 4px;

		@media (max-width: 768px) {
			padding: 12px 16px;
		}
	}
}

.student-book {
	&__header {
		cursor: pointer;
		display: flex;
		gap: 8px;
		position: relative;
		border: 1px solid var(--primary-pale);
		border-radius: 8px;
		background-color: #F0F6FA;
		padding: 16px 20px;
		transition: 350ms;

		display: flex;
		align-items: center;

		&:hover {
			scale: 0.975;
			opacity: 0.7;
		}

		@media (max-width: 768px) {
			padding: 12px;
		}
	}

	&__remove {
		width: 16px;
		height: 16px;
		display: flex;
		justify-content: center;
		align-items: center;

		path {
			fill: var(--300);
			transition: 350ms;
		}

		&:hover {
			svg path {
				fill: var(--900);
			}
		}
	}

	&_edit {
		.student-book__header {
			&:hover {
				scale: 1;
				opacity: 1;
			}
		}

		.student-book__lesson {
			svg {
				path {
					fill: var(--300);
				}
			}

			span {
				color: var(--300);
			}
		}
	}

	&__arrow {
		position: absolute;
		right: 20px;
		top: 50%;
		translate: 0 -50%;
		width: 16px;
		transition: 350ms;

		path {
			transition: 350ms;
			fill: var(--300);
		}

		&_rotate {
			rotate: 180deg;

			path {
				fill: var(--900);
			}
		}
	}

	&-checkmark {
		path {
			fill: var(--positive-main);
		}

		width: 16px;
		height: 16px;
	}

	&__name {
		font-size: 16px;
		color: var(--900);
	}

	&__body {
		padding: 16px;
		display: flex;
		flex-wrap: wrap;
		gap: 8px;

		@media (max-width: 768px) {
			padding: 8px;
			gap: 4px;
		}
	}

	&__lesson {
		flex: 0 0 calc(20% - (8px - 8px/5));
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		height: 52px;
		@include rv('height', 40, 52, 1440, 320);
		border: 1px solid var(--100);
		border-radius: 8px;
		color: var(--500);
		font-weight: 500;
		font-size: 16px;
		transition: 350ms;
		cursor: pointer;

		@media (max-width: 996px) {
			flex: 0 0 calc(100%/4 - (8px - 8px/4))
		}

		@media (max-width: 768px) {
			flex: 0 0 calc(100%/5 - (4px - 4px/5))
		}

		@media (max-width: 600px) {
			font-size: 12px;
			flex: 0 0 calc(100%/4 - (4px - 4px/4))
		}

		@media (max-width: 425px) {
			flex: 0 0 calc(100%/3 - (4px - 4px/3));
		}

		&:hover {
			scale: 0.95;
			opacity: 0.7;
		}

		svg {
			width: 16px;

			@media (max-width: 768px) {
				width: 12px;
			}

			path {
				fill: var(--positive-main);
			}
		}

		div {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}