@import '../../scss/mixins';

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
	background-color: rgba(22, 23, 25, 0.75);
	overflow: auto;
	overscroll-behavior: contain;

	&__body {
		min-height: 100%;
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__content {
		max-width: 996px;
		position: relative;
		padding: 20px;
		border-radius: 20px;
		background-color: var(--0);
	}

	&__close {
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		right: 0;
		bottom: 100%;
		translate: 0 -20px;

		&::before,
		&::after {
			content: '';
			width: 30px;
			height: 4px;
			border-radius: 2px;
			background-color: var(--200);
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			transition: 350ms;
		}

		&::after {
			rotate: 45deg;
		}

		&::before {
			rotate: -45deg;
		}

		&:hover {

			&::before,
			&::after {
				background-color: var(--0);
			}
		}
	}
}

.new-student {
	padding: 32px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;

	&__body {
		width: 380px;
		display: flex;
		flex-direction: column;
		gap: 12px;

		.button {
			align-self: center;
		}
	}
}

.student-delete,
.logout-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	padding: 40px;

	.description {
		max-width: 480px;
		text-align: center;
	}

	&__footer {
		display: flex;
		gap: 16px;
	}
}

.learn-modal {
	padding: 0;
	max-width: 960px;
	width: 100%;

	&__header {
		padding: 20px 52px;
		border-bottom: 1px solid var(--100);

		div {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.description {
			font-size: 14px;
		}

		h2 {
			line-height: 52px;
		}
	}

	&__body {
		padding: 40px 52px;
		height: 630px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
	}

	&__content {
		width: 100%;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		gap: 24px;
		overflow: auto;
		padding: 5px 12px 5px 0;

		&::-webkit-scrollbar {
			background-color: var(--100);
			width: 6px;
			border-radius: 3px;

			&-thumb {
				background-color: var(--primary-bright);

				&:hover {
					background-color: var(--primary-dark);
				}

				&:active {
					background-color: var(--primary-darker);
				}
			}
		}
	}

	&__footer {
		align-self: center;
		display: flex;
		gap: 24px;
	}

	&__empty {
		align-self: center;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;

		.description {
			max-width: 400px;
			text-align: center;
		}
	}
}

.lesson {
	position: relative;
	z-index: 1;

	&__header {
		background-color: #F0F6FA;
		border: 1px solid var(--100);
		border-bottom: 2px solid var(--primary-pale);
		padding: 20px 24px;
		border-radius: 15px 15px 0 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__body {
		border: 1px solid var(--100);
		border-top: 0;
		padding: 24px;
		background-color: var(--0);
		border-radius: 0 0 15px 15px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__name {
		font-size: 20px;
		font-weight: 600;
	}

	&__remove {
		width: 20px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		svg path {
			fill: var(--200);
			transition: 350ms;
		}

		&:hover {
			svg path {
				fill: var(--900);
			}
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__time {
		display: flex;
		gap: 12px;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		column-gap: 32px;
		row-gap: 20px;
	}
}

.student-select {
	position: relative;
	width: 380px;

	&__field {
		position: relative;
		z-index: 2;
	}

	&__color {
		position: absolute;
		left: 16px;
		top: 50%;
		translate: 0 -50%;
		width: 12px;
		height: 12px;
		border-radius: 6px;
		transition: 350ms;
	}

	&__input {
		width: 100%;
		height: 40px;
		padding: 0 16px;

		border-radius: 5px;
		background-color: var(--0);
		border: 1px solid var(--100);

		outline: 2px solid transparent;
		outline-offset: 1px;

		transition: 350ms;

		&::placeholder {
			font-family: 'Fira Sans Condensed', sans-serif;
			text-transform: uppercase;
			color: var(--300);
			transition: 350ms;
		}

		&:hover {
			border-color: var(--300);

			&::placeholder {
				color: var(--400);
			}
		}

		&:focus {
			border-color: var(--primary-main);
			outline-color: var(--primary-pale);
		}

		&_selected {
			padding-left: 34px;
		}
	}

	&__arrow {
		width: 10px;
		position: absolute;
		right: 16px;
		top: 50%;
		translate: 0 -50%;

		path {
			transition: 350ms;
			fill: var(--300);
		}
	}

	&__list {
		position: absolute;
		z-index: 3;
		top: 100%;
		border-radius: 5px;
		width: calc(100% - 8px);
		left: 4px;
		padding: 16px 12px;

		border: 1px solid var(--100);
		background-color: var(--0);
		box-shadow: 0 0 15px rgba(22, 23, 25, 0.1);
	}

	&__list-wrapper {
		display: flex;
		flex-direction: column;
		overflow: auto;
		gap: 4px;
		padding: 0 12px 0 0;

		&_long {
			height: 172px;
		}

		&::-webkit-scrollbar {
			background-color: var(--100);
			width: 6px;
			border-radius: 3px;

			&-thumb {
				background-color: var(--primary-bright);

				&:hover {
					background-color: var(--primary-dark);
				}

				&:active {
					background-color: var(--primary-darker);
				}
			}
		}
	}

	&-item {
		border: 1px solid var(--100);
		background-color: var(--0);
		border-radius: 5px;
		flex: 0 0 40px;
		padding: 2px 12px 0;
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;

		transition: 350ms;

		&:hover {
			border-color: var(--300);

			.student-select-item {
				&__name {
					color: var(--800);
				}
			}
		}

		&__color {
			width: 12px;
			height: 12px;
			border-radius: 6px;
		}

		&__name {
			color: var(--500);
			transition: 350ms;
		}
	}

	&__not-found {
		text-align: center;
		color: var(--300);
	}
}

.lesson-time {
	position: relative;

	&__input {
		width: 120px;
		height: 40px;
		border: 1px solid var(--100);
		border-radius: 5px;
		background-color: var(--0);
		padding: 0 16px;
		color: var(--900);
		font-size: 16px;
		font-weight: 600;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			appearance: none;
			margin: 0;
		}
	}

	&__placeholder {
		text-transform: uppercase;
		font-family: 'Fira Sans Condensed', sans-serif;
		color: var(--300);
		position: absolute;
		top: calc(50% + 2px);
		translate: 0 -50%;
		left: 39px;
		pointer-events: none;
	}

	&__carets {
		position: absolute;
		right: 16px;
		top: 50%;
		translate: 0 -50%;
		height: 8px;
		pointer-events: none;

		path {
			fill: var(--300);
		}
	}

	&__input,
	&__carets,
	&__placeholder {
		transition: 350ms;
	}

	&:hover {
		.lesson-time {
			&__input {
				border-color: var(--300);
			}

			&__carets {
				path {
					fill: var(--400);
				}
			}

			&__placeholder {
				color: var(--400);
			}
		}
	}
}

.textarea {
	position: relative;

	flex: 0 0 calc(50% - 16px);

	textarea {
		width: 100%;
		height: 110px;
		resize: none;
		border-radius: 5px;
		border: 1px solid var(--100);
		background-color: var(--0);
		padding: 11px 16px;
		color: var(--900);
		position: relative;
		z-index: 1;
		outline: 2px solid transparent;
		outline-offset: 1px;
		transition: 350ms;

		&:focus {
			border-color: var(--primary-main);
			outline-color: var(--primary-pale);
		}
	}

	&__placeholder {
		position: absolute;
		z-index: 2;
		left: 10px;
		padding: 0 5px;
		background-color: var(--0);
		top: 14px;
		line-height: 1;
		color: var(--300);
		font-family: 'Fira Sans Condensed', sans-serif;
		text-transform: uppercase;
		transition: 350ms;
		pointer-events: none;
		user-select: none;
	}

	&_focused,
	&_filled {
		.textarea__placeholder {
			top: -6px;
			font-size: 12px;
		}
	}

	&_focused {
		.textarea__placeholder {
			color: var(--primary-darker);
		}
	}
}

.new-book-modal {
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 12px;

	h1 {
		text-align: center;
	}

	.input {
		margin: 12px 0 0 0;
		width: 500px;
	}

	.description {
		font-size: 14px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}

	&__footer {
		margin-top: 12px;
		display: flex;
		justify-content: center;
		gap: 24px;
	}
}

.history-lesson {
	max-width: 768px;
	width: 100%;
	padding: 0;

	&__header {
		padding: 40px 52px;
		border-bottom: 1px solid var(--100);
	}

	&__body {
		padding: 24px 52px 36px;
		display: flex;
		flex-direction: column;
		gap: 48px;
	}

	&__row {
		display: flex;
		gap: 48px;
	}

	&__label {
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		color: var(--300);
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	&__time {
		font-size: 24px;
		font-weight: 700;
		color: var(--900);
	}

	&__test {
		color: var(--error-main);
		font-size: 24px;
		font-weight: 700;
	}

	&__payed {
		color: var(--positive-main);
		font-size: 24px;
		font-weight: 700;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	&__textblock {
		flex: 0 0 calc(50% - 10px);
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	&__text {
		line-height: 1.5;
		color: var(--900);
	}
}

.edit-student {
	padding: 40px;

	display: flex;
	flex-direction: column;
	gap: 32px;

	max-width: 600px;
	width: 100%;

	&__header {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.description {
		font-size: 14px;
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 12px;

		.input,
		.lesson-time,
		.textarea {

			&:nth-child(1),
			&:nth-child(2) {
				flex: 0 0 calc(50% - 6px);
			}

			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5) {
				flex: 0 0 calc(33.33333% - 8px);
			}

			&:nth-child(6) {
				flex: 0 0 100%;
			}
		}

		.lesson-time {
			&__input {
				width: 100%;
				border-color: var(--400);
			}

			&__placeholder {
				left: 50px;
				top: 50%;
			}
		}

		.textarea {
			textarea {
				border-color: var(--400);

				&:focus {
					border-color: var(--primary-main);
				}
			}
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		gap: 24px;
	}
}