@import "../../scss/mixins";

.students {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;

	&__wrapper {
		padding: 0 0 5px 0;
		overflow: auto;

		&::-webkit-scrollbar {
			height: 6px;
			background-color: var(--100);
			border-radius: 3px;

			&-thumb {
				background-color: var(--primary-main);
				border-radius: 3px;

				&:hover {
					background-color: var(--primary-light);
				}

				&:active {
					background-color: var(--primary-dark);
				}
			}
		}
	}

	&__header {
		align-self: flex-start;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 12px;
		position: relative;
		z-index: 1;

		&-item {
			border-radius: 10px;
			padding: 16px 24px;
			background-color: #F4F9FD;
			box-shadow: 0px 10px 30px 0px rgba(86, 110, 118, 0.15);
		}
	}

	&__body {
		padding: 24px;
		border-radius: 10px;
		background: #F4F9FD;
		box-shadow: 0px 10px 30px 0px rgba(86, 110, 118, 0.15);

		@media (max-width: 996px) {
			padding: 16px;
		}

		&_empty {
			padding: 48px;
			display: flex;
			flex-direction: column;
			gap: 24px;
			align-items: center;
			justify-content: center;

			.description {
				max-width: 420px;
				text-align: center;
			}
		}
	}
}

.students-type-switcher {
	display: flex;
	height: 52px;
	@include rv("height", 40, 52, 1440, 320);
	overflow: auto;

	&__item {
		border: 1px solid var(--100);
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 0 16px;
		font-size: 16px;
		@include rv("font-size", 12, 16, 1440, 320);
		font-family: 'Fira Sans Condensed', sans-serif;
		text-transform: uppercase;
		color: var(--300);
		transition: 350ms;

		svg {
			height: 16px;
			@include rv("height", 12, 16, 1440, 320);

			path {
				fill: var(--300);
				transition: 350ms;
			}
		}

		&:hover {
			border-color: var(--300);
			color: var(--500);

			svg path {
				fill: var(--500)
			}
		}

		&_table {
			border-radius: 8px 0 0 8px;
		}

		&_compact {
			margin: 0 0 0 -1px;
			border-radius: 0 8px 8px 0;
		}

		&_active,
		&_active:hover {
			position: relative;
			z-index: 1;
			border-color: var(--800);
			color: var(--800);
			background-color: #fff;

			svg path {
				fill: var(--800);
			}
		}
	}
}

.students-table {
	width: 100%;

	border-collapse: separate;
	border-spacing: 0 8px;

	min-width: 500px;

	&__compact {
		width: 1%;
	}

	&__color {
		width: 14px;
		height: 14px;
		border-radius: 7px;
	}

	&__remove {
		display: flex;
		cursor: pointer;

		svg path {
			fill: var(--400);
			transition: 350ms;
		}

		&:hover {
			svg path {
				fill: var(--800);
			}
		}
	}

	td+td {
		border-left: 1px solid var(--100);
	}

	td:first-child,
	th:first-child {
		border-radius: 5px 0 0 5px;
	}

	td:last-child,
	th:last-child {
		border-radius: 0 5px 5px 0;
	}

	tr:first-child {
		background-color: #EBF0F4;
	}

	th {
		text-transform: uppercase;
		font-family: 'Fira Sans Condensed', sans-serif;
		color: var(--700);

		@media (max-width: 996px) {
			font-size: 12px;
		}
	}

	td {
		box-shadow: 0px 1px 10px 0px rgba(86, 110, 118, 0.1);

		&._cut {
			max-width: 150px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	th,
	td {
		padding: 16px 20px;
		text-align: center;
		vertical-align: middle;

		@media (max-width: 996px) {
			padding: 12px;
		}
	}
}

.students-compact {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	&-item {
		flex: 0 0 calc(100%/3 - (20px - 20px/3));
		display: flex;
		gap: 12px;

		@media (max-width: 996px) {
			flex: 0 0 calc(100%/2 - (20px - 20px/2));
			gap: 4px;
		}

		@media (max-width: 600px) {
			flex: 0 0 100%;
		}

		&__display {
			flex: 0 0 82px;
			@include rv("flex-basis", 70, 82, 1440, 320);
			aspect-ratio: 1 / 1;
			border-radius: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--900);
			text-transform: uppercase;
			font-weight: 900;
			font-size: 40px;
			@include rv("font-size", 24, 40, 1440, 320);
			transition: 350ms;
		}

		&__body {
			flex: 1 1 auto;
			background-color: var(--0);
			box-shadow: 0px 5px 15px 0px rgba(139, 143, 147, 0.2);
			border-radius: 10px;
			padding: 16px 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
		}

		&__username {
			color: var(--200);
			font-size: 16px;
			@include rv("font-size", 12, 16, 1440, 320);
			font-weight: 600;
			font-family: 'Fira Sans Condensed', sans-serif;
			transition: 350ms;
			width: 240px;
			@include rv("width", 160, 240, 1440, 996);
			width: 240px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;

			@media (max-width: 996px) {
				@include rv("width", 100, 135, 996, 600);
			}

			@media (max-width: 600px) {
				@include rv("width", 150, 424, 600, 320);
			}
		}

		&__name {
			font-size: 24px;
			@include rv("font-size", 18, 24, 1440, 320);
			font-weight: 700;
			color: var(--600);
			transition: 350ms;
		}

		&__arrow {
			position: absolute;
			bottom: 16px;
			right: 25px;

			cursor: pointer;

			transition: 350ms;

			svg {
				height: 14px;
			}
		}

		&:hover {
			.students-compact-item {
				&__display {
					opacity: 0.9;
					scale: 0.95;
				}

				&__arrow {
					right: 20px;
				}

				&__name {
					color: var(--900);
				}

				&__username {
					color: var(--400);
				}
			}
		}
	}
}