@import "../../scss/mixins";

.schedule {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 12px;

	&__header {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		@include rv("gap", 12, 20, 1440, 320);
	}

	&__loader {
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		span {
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 5px solid var(--900);
			border-left-color: transparent;
			animation: loading 1s linear infinite;
		}

		@keyframes loading {
			to {
				rotate: 360deg;
			}
		}
	}
}

.schedule-label {
	color: var(--400);

	@media (max-width: 425px) {
		font-size: 12px;
	}
}

.schedule-block {
	border-radius: 10px;
	padding: 16px 24px;
	background-color: #F4F9FD;
	box-shadow: 0px 10px 30px 0px rgba(86, 110, 118, 0.15);

	@media (max-width: 425px) {
		padding: 12px 16px;
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
	}
}

.schedule-month-changer {
	width: 190px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;

	background: var(--0);
	border: 1px solid var(--200);
	border-radius: 8px;
	padding: 10px 9px;

	@media (max-width: 425px) {
		width: 100%;
	}

	&__arrow {
		width: 24px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		svg {
			width: 6px;

			path {
				transition: 350ms;
				fill: var(--300);
			}
		}

		&_next {
			rotate: 180deg;
		}

		&:hover {
			svg path {
				fill: var(--900);
			}
		}
	}

	&__display {
		font-weight: 500;
		color: var(--900);
		padding-top: 1px;
		user-select: none;
		transition: 350ms;
		cursor: pointer;

		&:hover {
			scale: 0.95;
			color: var(--300);
		}
	}
}

.schedule-current-date,
.schedule-current-time {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	gap: 4px;

	@media (max-width: 425px) {
		align-items: center;
	}

	&__display {
		font-size: 16px;
		font-weight: 600;
		color: var(--800);

		@media (max-width: 425px) {
			font-size: 14px;
		}
	}
}

.schedule-current-time {
	&__display {
		font-weight: 700;
	}
}

.calendar {
	background: #F4F9FD;
	border-radius: 10px;
	box-shadow: 0px 10px 30px 0px rgba(86, 110, 118, 0.15);
	@include rv("padding", 12, 24, 1440, 425);

	&__wrapper {
		overflow: auto;

		&::-webkit-scrollbar {
			height: 6px;
			background-color: var(--100);
			border-radius: 3px;

			&-thumb {
				background-color: var(--primary-main);
				border-radius: 3px;

				&:hover {
					background-color: var(--primary-light);
				}

				&:active {
					background-color: var(--primary-dark);
				}
			}
		}
	}

	&__header {
		background-color: var(--100);
		border-radius: 5px 5px 0 0;
		display: flex;

		min-width: 996px;

		&-item {
			flex: 0 0 calc(100%/7);
			padding: 20px 0;
			text-align: center;
			font-family: 'Fira Sans Condensed', sans-serif;
			text-transform: uppercase;
			font-weight: 500;
			color: var(--900);

			@media (max-width: 768px) {
				padding: 16px 0;
				font-size: 12px;
			}
		}
	}

	&__body {
		display: flex;
		flex-wrap: wrap;

		min-width: 996px;

		&>div {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
		}
	}

	&-day {
		flex: 0 0 calc(100%/7);
		height: 120px;
		padding: 16px;
		transition: 350ms;
		cursor: pointer;

		display: flex;
		flex-direction: column;

		@media (max-width: 768px) {
			height: 90px;
			padding: 12px;
		}

		&__time {
			margin: 8px 0 0 0;
			color: var(--900);

			@media (max-width: 768px) {
				font-size: 12px;
			}
		}

		&__students {
			flex: 1 1 auto;
			width: 100%;
			display: flex;
			align-items: flex-end;
			gap: 4px;
		}

		&__student {
			width: 20px;
			height: 20px;
			border-radius: 5px;
			cursor: grab;

			transition: 450ms;

			@media (max-width: 768px) {
				width: 12px;
				height: 12px;
				border-radius: 3px;
			}

			&:hover {
				opacity: 0.75;
				width: 30px;
				height: 30px;
				border-radius: 7.5px;
				margin: -5px;
			}

			&:active {
				cursor: grabbing;
			}
		}

		&:hover {
			background-color: rgba(210, 218, 229, 0.4);
			border-color: var(--100);
		}

		&__number {
			color: var(--200);
			font-weight: 700;

			@media (max-width: 768px) {
				font-size: 12px;
			}
		}

		border: 1px solid #e2e2e2;
		border-top-color: transparent;
		border-right-color: transparent;

		&:nth-child(7n+7) {
			border-right-color: #e2e2e2;
		}

		&_active {
			background-color: #f1f6f8;

			.calendar-day {
				&__number {
					color: var(--900);
				}
			}
		}

		&_learn {
			background-color: rgba(226, 226, 226, 0.45);
		}

		&_inactive {
			background-color: var(--0);

			.calendar-day {

				&__time {
					color: var(--200);
				}

				&__students {
					opacity: 0.3;
				}
			}
		}


		&_current {
			border-color: var(--primary-light);
			background-color: rgba(172, 217, 239, 0.2);

			&:hover {
				background-color: rgba(172, 217, 239, 0.35);
				border-color: var(--primary-main);
			}
		}

		&_dragover {
			background-color: rgba(210, 218, 229, 0.4);
			border-color: var(--100);
		}
	}
}