.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(22, 23, 25, 0.75);
	overflow: auto;
	overscroll-behavior: contain;

	&__body {
		min-height: 100%;
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__content {

		&,
		.block {
			width: 100%;
		}
	}
}