* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	height: 100%;
	line-height: 1.25;
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
}

input,
textarea,
button {
	font-size: 14px;
	font-family: inherit;
}

button {
	cursor: pointer;
}

a,
a:hover {
	text-decoration: none;
}

li {
	list-style: none
}

img {
	vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 700;
}