@import "../../scss/mixins";

.notfound {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__code {
		font-weight: 700;
		font-family: 'Fira Sans Condensed', sans-serif;
		color: var(--900);
		line-height: 1;
		@include rv('font-size', 128, 256, 1920, 320);
	}

	&__textblock {
		@include rv('font-size', 12, 16, 1920, 320);
		color: var(--300);
		max-width: 545px;
		text-align: center;
	}

	.button {
		@include rv('margin-top', 12, 20, 1920, 320);

		svg {
			width: 16px;
			rotate: 180deg;
		}
	}
}